.Hero{
    background-image: url(../../img/hero-bgimg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 900px;
}
.hero__next-inner{
    width: 643px;
    height: 443px;
    background-color: #FFF3E3;
    border-radius: 10px;
    margin-left: 665px;
    margin-top: 340px;
}
.next__inner-p{
    color: #333;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 3px;
}
.next__innner-tittle{
    color: #B88E2F;
    font-family: Poppins;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px;
    margin-top: 90px;
}