.Hero{
    background-image: url(../../img/hero-bgimg.png);
    background-repeat: no-repeat;
    // background-size: 100%;
    // width: 100%;
    background-size: cover;
    height: 900px;
}
.hero__next-inner{
    // max-width: 643px;
    // height: 443px;
    padding: 62px 56px 37px 39px;
    background-color: #FFF3E3;
    border-radius: 10px;
    margin-left: 680px;
    margin-top: 228px;
}