.products__tittle{
    text-align: center;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
    color: #3A3A3A;
    margin-top: 112px;
}
.oram{
    

    ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;    
        margin-top: 32px;
        li{
            position: relative;
            width: 285px;
            height: 446px;
            list-style-type: none;
            top: 24;
            background-color: #F4F5F7;
            margin-top: 32px;
            transition: all 1s ease;
            .Products__bottom{
                display: none;
                // display: block;
                transition: all 1s ease;
            }
            &:hover{
                .Products__bottom{
                    widows: 100%;
                    height: 100%;
                    background-color: #3A3A3A;
                    opacity: 0.72;
                    position: absolute;
                    left: 0;
                    top: 0;
                    display: block;
                    right: 0;
                    transition: all 1s ease;
                }
                .pr__bottom_btn{
                    padding: 12px 52px 12px 59px;
                    background-color: #fff;
                    color: #B88E2F;
                    font-weight: 600;
                    font-size: 16px;
                    border: none;
                    margin: 175px 42px 223px 41px;
                }
                .product__share{
                    position: absolute;
                    top: 0;
                    left: 0;
                    color: white;
                    text-decoration: none;
                    font-family: Poppins;
                    font-weight: 600;
                    font-size: 16px;
                    // margin: 251px 253px 179px 16px;
                    margin-top: 251px;
                    margin-left: 16px;
                    // gap: 10px;
                    // padding-left: 10px;
                    i{
                        margin-right: 5px;
                    }
                }
                .product__compare{
                    position: absolute;
                    top: 0;
                    left: 0;
                    color: white;
                    text-decoration: none;
                    font-family: Poppins;
                    font-weight: 600;
                    font-size: 16px;
                    // margin: 251px 253px 179px 16px;
                    margin-top: 251px;
                    margin-left: 102px;
                    // gap: 10px;
                    // padding-left: 10px;
                    i{
                        margin-right: 5px;
                    }
                }
                .product__layk{
                    position: absolute;
                    top: 0;
                    left: 0;
                    color: white;
                    text-decoration: none;
                    font-family: Poppins;
                    font-weight: 600;
                    font-size: 16px;
                    // margin: 251px 253px 179px 16px;
                    margin-top: 251px;
                    margin-left: 218px;
                    // gap: 10px;
                    // padding-left: 10px;
                    i{
                        margin-right: 5px;
                    }
                }
            }
            
        }
    img{
        width: 100%;
        height: 301px;
    }
    h3{
        margin-top: 16px;
        margin-left: 16px;
        font-size: 24px;
        font-weight: 600;
        font-family: Poppins;
        line-height: 120%;
    }
    .p-info{
        color: #898989;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        margin-top: 8px;
        margin-left: 16px;
    }
    .pr-info{
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
        margin-top: 8px;
        margin-left: 16px;
        color: #3A3A3A;
    }
    .ol__p-info{
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        text-decoration-line: line-through;
        color: #B0B0B0;
        margin-top: 10px;
        margin-right: 40px;
    }
    .all__price{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .skidka{
        position: absolute; 
        padding: 12px 1px 12px 5px;
        background-color: #E97171;
        border-radius: 50%;
        top: 0;
        right: 0;
        margin-top: 24px;
        margin-right: 24px;
        color: white;
    }
    .srog{
        position: absolute;
        padding: 12px 5px 12px 8px;
        font-size: 16px;
        font-weight: 500;
        font-family: Poppins;
        background-color: #2EC1AC;
        top: 0;
        right: 0;
        border-radius: 50%;
        margin-top: 24px;
        margin-right: 24px;
        color: white;
    }
}
}
.product__btn{
    padding: 12px 74px 12px 82px;
    border: 1px solid #B88E2F;
    color: #B88E2F;
    font-size: 16px;
    font-weight: 600;
    font-family: Poppins;
    line-height: 150%;
    margin-left: 510px;
    margin-top: 32px;
    margin-bottom: 69px;
}
